<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Show Teams</title>
  <link rel="stylesheet" type="text/css" href="/css/stylelogin.css">
  <div class="main">
    <div class="logo">
      <img src="/images/logo.png">
    </div>
</head>

<body>
  <% if(category == 'manager'){ %>
  <h2><a href="/manage/teams/create" style="color:white;">Create new team</a></h2>
  <% } %>

        <% if(category == 'manager'){ %>
          <div class="login">

            <form id="login" method="post" action="">


              <table style="width:50%">
        <tr>

          <th>Name</th>
          <th>Members</th>
          <th>
            delete
          </th>
        </tr>
        <tbody>
          <% results.forEach(result=>{ %>
          <tr>
            <td><%=result.name%></td>
            <td><%=result.members%></td>
            <td><a class="teams" href="/manage/teams/delete/<%=result.id%>">
                <h6>delete</h6>
              </a></td>
          </tr>

          <% }) %>
        </tbody>
          </table>
        </form>
      </div>
        <% } %>




  <% if(category == 'employee'){ %>
    <h2>Your teams</h2>
    <div class="login">

    <table style="width:100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Manager</th>
          <th>Members</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%=results.name%></td>
          <td><%=results.manager%></td>
          <td><%=results.members%></td>
        </tr>
      </tbody>
      <% } %>
  </table>
  </div>
</body>
</html>
