<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Show Teams</title>
  <link rel="stylesheet" type="text/css" href="/css/stylelogin.css">
  <div class="main">
    <div class="logo">
      <img src="/images/logo.png">
    </div>
</head>

<body>
  <br>
  <br>
  
  <% if(category == 'manager'){ %>
  <h2><a href="/manage/teams/create" style="color:white;">Create new team</a></h2>
  <% } %>
  <div class="login" style="margin: 20vh auto; width: 80%; padding: 30px 2px; padding-top: 15px;">
    <form id="login" method="post" action="">
      <table style="width:50%">
        <% if(category == 'manager'){ %>
        <h1 style="text-align: center;">Your teams</h1>
        <tr>
          <th>Name</th>
          <th>Members</th>
          <th>
            delete
          </th>
        </tr>
        <tbody>
          <% if(typeof results != 'undefined' && results != null){ %>
          <% results.forEach(result=>{ %>
          <tr>
            <td><%=result.name%></td>
            <td><%=result.members%></td>
            <td><a class="teams" href="/manage/teams/delete/<%=result.id%>">
                <h6>delete</h6>
              </a></td>
          </tr>

          <% }) %>
          <% } %>
        </tbody>
        <% } %>
    </form>
  </div>
    <table style="width: 50%; align-items: center; margin: 0 auto;">
      <% if(category == 'employee'){ %>
      <h1 style="text-align: center;">Your teams</h1>
      <thead>
        <tr>
          <th style="padding-right: 150px;">Name</th>
          <th style="padding-right: 100px; padding-left: 100px;">Manager</th>
          <th style="padding-left: 150px;">Members</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% if(typeof results != 'undefined' && results != null){ %>
          <td style="padding-right: 150px;"><%=results.name%></td>
          <td style="padding-right: 100px; padding-left: 100px;"><%=results.manager%></td>
          <td style="padding-left: 150px;"><%=results.members%></td>
          <% } %>
        </tr>
      </tbody>
      <% } %>
    </table>
</body>
</html>
