<% if(category == 'manager'){ %>
    <a href="/manage/tasks/create">Create new task</a>
<% } %>
<table>
    <% if(category == 'employee'){ %>
        <% for(let i=0;i<(resultTask.length);i++){ %>
        <tr>
            <td><%= resultTask[i].title %></td>
            <td><%= resultTask[i].description %></td>
            <td><%= resultTask[i].dueDate %></td>
            <td><%= resultTask[i].manager %></td>
            <td><%= resultTeam.name %></td>
            <td><%= resultTask[i].points %></td>
            <td><%= resultTask[i].rewards %></td>
            <td><%= resultTask[i].completed %></td>
        </tr>
        <% } %>
    <% } %>
    <% if(category == 'manager'){ %>
        <% for(let i=0;i<(resultTask.length);i++){ %>
            <tr>
                <td><%= resultTask[i].title %></td>
                <td><%= resultTask[i].description %></td>
                <td><%= resultTask[i].dueDate %></td>
                <td><%= resultTask[i].manager %></td>
                <td><%= teamName[i] %></td>
                <td><%= resultTask[i].points %></td>
                <td><%= resultTask[i].rewards %></td>
                <td><%= resultTask[i].completed %></td>
                <td><a href="/manage/tasks/submit/<%=resultTask[i].team%>">Mark as submit</a></td>
            </tr>
        <% } %>
    <% } %>
</table>